{% assign template_base = template | split: '.' | first %}
{% unless template_base == 'index' or template_base == 'article' or template_base == 'customers/login' or template_base == 'customers/register' %}
  <div class="container">
    <nav class="breadcrumb
    {% unless template contains 'page' %}
    {% if template contains 'article' or template == 'customers/login' or template == 'customers/register' %}
      breadcrumb--center {% endif %}" {% endunless %} role="navigation" aria-label="breadcrumbs">
      <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      {% if template contains 'page' %}
        {% render 'icon-breadcrumb' %}
        <span>{{ page.title }}
        </span>
      {% elsif template contains 'product' %}
        {% render 'icon-breadcrumb' %}
        {% if product.collections[0] %}
          <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}
          </a>
          {% render 'icon-breadcrumb' %}
        {% endif %}
        <span>{{ product.title }}
        </span>
      {% elsif template contains 'collection' and collection.handle %}
        {% render 'icon-breadcrumb' %}
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}
          {% endcapture %}
          {{ collection.title | link_to: url }}
          {% render 'icon-breadcrumb' %}
          <span>{{ current_tags | join: " + " }}
          </span>
        {% else %}
          <span>{{ collection.title }}
          </span>
        {% endif %}
      {% elsif template contains 'blog' %}
        {% render 'icon-breadcrumb' %}
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          {% render 'icon-breadcrumb' %}
          <span>{{ current_tags | join: " + " }}
          </span>
        {% else %}
          <span>{{ blog.title }}
          </span>
        {% endif %}
      {% elsif template == 'customers/order' %}
        {% render 'icon-breadcrumb' %}
        <a href='{{ routes.account_url }}'>{{ 'customer.account.title' | t }}
        </a>
        {% render 'icon-breadcrumb' %}
        <span>{{ order.name }}
        </span>
      {% elsif template == 'customers/addresses' %}
        {% render 'icon-breadcrumb' %}
        <a href='{{ routes.account_url }}'>{{ 'customer.account.title' | t }}
        </a>
        {% render 'icon-breadcrumb' %}
        <span>{{ 'customer.addresses.title' | t }}
        </span>
      {% else %}
        {% render 'icon-breadcrumb' %}
        <span>{{ page_title }}
        </span>
      {% endif %}
    </nav> 
  </div>
{% endunless %}