{% comment %}
  	Renders a product card

  	Accepts:
  	- product_card_product: {Object} Product Liquid object (optional)
  	- media_size: {String} Size of the product image card. Values are "landscape", "square" and "portrait". Default is "square" (optional)
  	- media_fit: {String} Fit of the product image card. Values are "contain" and "cover". Default is "contain" (optional)
  	- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  	- show_vendor: {Boolean} Show the product vendor. Default: false,
  	- show_desc: {Boolean} Show the product description. 120 characters max. Default: false,
  	- show_sku: {Boolean} Show sku. Default: false


  	Usage:
  {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div
  class="
    card-wrapper color-background-2 js-color-swatches-wrapper
    {% if show_secondary_image -%} card-wrapper_secondary-image {%- endif -%}
  "
  data-product="{{ product_card_product.handle }}"
>
  {%- liquid
    assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

    if product_card_product.featured_media.aspect_ratio == null
      assign featured_media_aspect_ratio = 1
    endif
  -%}

  {%- if product_card_product.media[1] != null and show_secondary_image -%}
    <img
      srcset="
        {%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
        {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
        {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
        {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
        {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
        {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w{%- endif -%}
      "
      src="{{ product_card_product.media[1] | img_url: '533x' }}"
      sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ product_card_product.media[1].alt | escape }}"
      loading="lazy"
      class="card-wrapper__image motion-reduce media--second"
      width="{{ product_card_product.media[1].width }}"
      height="{{ product_card_product.media[1].height }}"
    >
  {%- endif -%}
  <span class="visually-hidden">{{ product_card_product.title | escape }}</span>
  <div class="card card--product" tabindex="-1">
    <div class="card__inner full-unstyled-link">
      <div>
        <div
          class="media media--{{ media_size }} media--hover-effect"
          {%- if media_size == 'landscape' -%}
            style="padding-bottom: 0;"
          {%- endif -%}
          {%- if media_size == 'portrait' -%}
            style="padding-bottom: 130%;"
          {%- endif -%}
          {%- if media_size == 'square' -%}
            style="padding-bottom: 100%;"
          {%- endif -%}
        >
          {%- if product_card_product.featured_media -%}
            <img
              srcset="
                {%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w{%- endif -%}
              "
              src="{{ product_card_product.featured_media | img_url: '533x' }}"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ product_card_product.featured_media.alt | escape }}"
              loading="lazy"
              class="motion-reduce media--first"
              width="{{ product_card_product.featured_media.width }}"
              height="{{ product_card_product.featured_media.height }}"
              {%- if media_fit == 'contain' -%}
                style="object-fit: contain;"
              {%- endif -%}
              {%- if media_fit == 'cover' -%}
                style="object-fit: cover;"
              {%- endif -%}
            >
          {%- elsif product_card_product.featured_media == blank -%}
            {{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>

      <div class="card__badge">
        {%- if product_card_product.available == false -%}
          <span class="badge badge--bottom-left badge--soldout" aria-hidden="true">
            {{- 'products.product.sold_out' | t -}}
          </span>
        {%- elsif product_card_product.compare_at_price > product_card_product.price
          and product_card_product.available
        -%}
          <span class="badge badge--bottom-left" aria-hidden="true">
            {{- 'products.product.on_sale' | t }}
            {% render 'icon-star' -%}
          </span>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      {%- unless product_card_product.has_only_default_variant -%}
        {%- for option in product_card_product.options_with_values -%}
          {% liquid
            assign color_trigger = settings.trigger_swatch | handle | strip
            assign name_option = option.name | handle | strip
          %}

          {% if settings.show_color_swatch and color_trigger == name_option %}
            <fieldset class="product-form__wrapper js-color-swatches">
              <div class="product-form__controls-group">
                {% render 'product-variant-options', product: product_card_product, option: option, no_form_id: true %}
              </div>
            </fieldset>
          {% endif %}
        {%- endfor -%}
      {% endunless %}

      {%- if show_sku and product_card_product.selected_or_first_available_variant.sku.size > 0 -%}
        <p
          class="card__sku no-js-hidden"
          id="Sku-{{ section.id }}"
          role="status"
          {{ block.shopify_attributes }}
        >
          <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
          {{- product_card_product.selected_or_first_available_variant.sku -}}
        </p>
      {%- endif -%}

      {%- if show_vendor and product_card_product.vendor != blank -%}
        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
        <div class="Ñard__vendor">{{ product_card_product.vendor | escape }}</div>
      {%- endif -%}

      <h3 class="card__title h4">
        {{ product_card_product.title | escape }}
      </h3>

      {%- if show_desc and product_card_product.description != blank -%}
        <div class="card__description caption-with-letter-spacing">
          {{ product_card_product.description | strip_html | truncate: 120 }}
        </div>
      {%- endif -%}

      <div class="card-information__bottom">
        {% render 'price', product: product_card_product, price_class: '' %}
        {%- if settings.quickview_show -%}
          <a
            class="card__link button button--simple quick-view"
            href="#"
            data-handle="{{ product_card_product.handle }}"
          >
            <span>
              {{- 'general.card.quick__view' | t -}}
              {% render 'icon-button-arrow' %}
            </span>
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
  <a
    href="{{ product_card_product.url | default: '#' }}"
    class="link link--overlay card-wrapper__link--overlay js-color-swatches-link"
  ></a>
</div>
