<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">



		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>{{ page_title }}</title>

		{% if page_description %}
			<meta name="description" content="{{ page_description | escape }}">
		{% endif %}

		{% render 'meta-tags' %}
      
		<script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

		{{ content_for_header }}

		{%- liquid
			assign body_font_ligh = settings.type_body_font | font_modify: 'weight', '300'
			assign body_font_regular = settings.type_body_font | font_modify: 'weight', '400'
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
			assign heading_font_italic = settings.type_header_font | font_modify: 'style', 'italic'
		%}

		{% style %}
			{{ settings.type_body_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font | font_face: font_display: 'swap' }}
			{{ settings.type_button_font | font_face: font_display: 'swap' }}
			{{ settings.type_header_font_card | font_face: font_display: 'swap' }}
			{{ body_font_ligh | font_face: font_display: 'swap' }}
			{{ body_font_regular | font_face: font_display: 'swap' }}
			{{ body_font_bold | font_face: font_display: 'swap' }}
			{{ body_font_italic | font_face: font_display: 'swap' }}
			{{ heading_font_italic | font_face: font_display: 'swap' }}
			{{ body_font_bold_italic | font_face: font_display: 'swap' }}

			:root {
			--spaced-section: {{ settings.indent_section }}px;

			--font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
			--font-body-style: {{ settings.type_body_font.style }};
			--font-body-weight: {{ settings.type_body_font.weight }};

			--font-body-size: {{ settings.body_size }}px;
			--font-body-line-height: {{ settings.type_body_line_height }}%;

			--font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
			--font-heading-style: {{ settings.type_header_font.style }};
			--font-heading-weight: {{ settings.type_header_font.weight }};
			--font-heading-letter-spacing: {{ settings.type_header_letter_spacing }}em;
			--font-heading-line-height: {{ settings.type_header_line_height }};

			--font-heading-h1-size: {{ settings.heading_h1_size }}px;
			--font-heading-h2-size: {{ settings.heading_h2_size }}px;
			--font-heading-h3-size: {{ settings.heading_h3_size }}px;
			--font-heading-h4-size: {{ settings.heading_h4_size }}px;
			--font-heading-h5-size: {{ settings.heading_h5_size }}px;
			--font-heading-h6-size: {{ settings.heading_h6_size }}px;

			--font-heading-card-family: {{ settings.type_header_font_card.family }}, {{ settings.type_header_font_card.fallback_families }};
			--font-heading-card-style: {{ settings.type_header_font_card.style }};
			--font-heading-card-weight: {{ settings.type_header_font_card.weight }};
			--font-heading-card-text-transform: {{ settings.heading_text_transform_card }};
			--font-text-card-family: {{ settings.type_text_font_card.family }}, {{ settings.type_text_font_card.fallback_families }};
			--font-text-card-style: {{ settings.type_text_font_card.style }};
			--font-text-card-weight: {{ settings.type_text_font_card.weight }};

			--font-heading-card-size: {{ settings.heading_size_card }}px;
			--font-text-card-size: {{ settings.text_size_card }}px;

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};

			--font-button-family: {{ settings.type_button_font.family }}, {{ settings.type_button_font.fallback_families }};
			--font-button-style: {{ settings.type_button_font.style }};
			--font-button-weight: {{ settings.type_button_font.weight }};
			--font-button-text-transform: {{ settings.button_text_transform }};
			--font-button-letter-spacing: 0.075em;

			--font-header-menu-family: {{ settings.type_header_menu_font.family }}, {{ settings.type_header_menu_font.fallback_families }};
			--font-header-menu-style: {{ settings.type_header_menu_font.style }};
			--font-header-menu-weight: {{ settings.type_header_menu_font.weight }};
			--font-header-menu-text-transform: {{ settings.header_menu_text_transform }};
			--font-big-number-style: {{ settings.type_big_number_font }};

			--font-footer-menu-family: {{ settings.type_footer_menu_font.family }}, {{ settings.type_footer_menu_font.fallback_families }};
			--font-footer-menu-style: {{ settings.type_footer_menu_font.style }};
			--font-footer-menu-weight: {{ settings.type_footer_menu_font.weight }};
			--font-footer-link-size: {{ settings.link_size_footer }}px;
			--font-footer-bottom-link-size: {{ settings.link_size_footer_bottom }}px;

			--font-popups-heading-family: {{ settings.type_popups_heading_font.family }}, {{ settings.type_popups_heading_font.fallback_families }};
			--font-popups-heading-style: {{ settings.type_popups_heading_font.style }};
			--font-popups-heading-weight: {{ settings.type_popups_heading_font.weight }};
			--font-popups-text-family: {{ settings.type_popups_text_font.family }}, {{ settings.type_popups_text_font.fallback_families }};
			--font-popups-text-style: {{ settings.type_popups_text_font.style }};
			--font-popups-text-weight: {{ settings.type_popups_text_font.weight }};
			--font-popup-heading-size: {{ settings.popup_heading_size }}px;
			--font-popup-text-size: {{ settings.popup_text_size }}px;
			--font-notification-heading-size: {{ settings.notification_heading_size }}px;
			--font-notification-text-size: {{ settings.notification_text_size }}px;

			--font-span-heading-style: {{ settings.font_style }};

			--color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
			--color-title-text: {{ settings.colors_text_title.red }}, {{ settings.colors_text_title.green }}, {{ settings.colors_text_title.blue }};
			--color-secondary-text: {{ settings.colors_text_secondary.red }}, {{ settings.colors_text_secondary.green }}, {{ settings.colors_text_secondary.blue }};

			--color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
			--color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
			--color-base-background-5: {{ settings.colors_background_5.red }}, {{ settings.colors_background_5.green }}, {{ settings.colors_background_5.blue }};
			--color-base-background-3: {{ settings.colors_background_3.red }}, {{ settings.colors_background_3.green }}, {{ settings.colors_background_3.blue }};
			--color-base-background-4: {{ settings.colors_background_4.red }}, {{ settings.colors_background_4.green }}, {{ settings.colors_background_4.blue }};

			--color-announcement-bar-background-1: {{ settings.colors_background_announcement_bar_1.red }}, {{ settings.colors_background_announcement_bar_1.green }}, {{ settings.colors_background_announcement_bar_1.blue }};
			--color-announcement-bar-background-2: {{ settings.colors_background_announcement_bar_2.red }}, {{ settings.colors_background_announcement_bar_2.green }}, {{ settings.colors_background_announcement_bar_2.blue }};

			--color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
			--color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
			--color-base-button-background: {{ settings.colors_solid_button_background.red }}, {{ settings.colors_solid_button_background.green }}, {{ settings.colors_solid_button_background.blue }};
			--payment-terms-background-color: {{ settings.colors_background_1 }};
			--color-overlay-background: {{ settings.colors_background_overlay.red }}, {{ settings.colors_background_overlay.green }}, {{ settings.colors_background_overlay.blue }};
			--color-big-number: {{ settings.color_big_number.red }}, {{ settings.color_big_number.green }}, {{ settings.color_big_number.blue }};



			--color-base-background-input: {{ settings.colors_input_background.red }}, {{ settings.colors_input_background.green }}, {{ settings.colors_input_background.blue }};

			--color-base-border-input: {{ settings.colors_input_border.red }}, {{ settings.colors_input_border.green }}, {{ settings.colors_input_border.blue }};
			--color-hover-border-input: {{ settings.colors_input_hover_border.red }}, {{ settings.colors_input_hover_border.green }}, {{ settings.colors_input_hover_border.blue }};


			--color-badge-icon: {{ settings.badge_icon_color }};
			--color-border: {{ settings.card_border }};
			--color-background-card: {{ settings.background_card }}
			}

			*,
			*::before,
			*::after {
			box-sizing: inherit;
			}

			html {
			box-sizing: border-box;
			font-size: 10px;
			height: 100%;
			}

			body {
			position: relative;
			display: grid;
			grid-template-rows: auto auto 1fr auto;
			grid-template-columns: 100%;
			min-height: 100%;
			margin: 0;
			font-size: var(--font-body-size);
			line-height: 1.8;
			letter-spacing: -0.02em;
			font-family: var(--font-body-family);
			font-style: var(--font-body-style);
			font-weight: var(--font-body-weight);
			letter-spacing: -0.02em;
			overflow-x: hidden;
			}
		{% endstyle %}
		{{ 'flickity.min.css' | asset_url | stylesheet_tag }}
		{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
		{{ 'quickview.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}
		{{ 'component-heading-animation.css' | asset_url | stylesheet_tag }}

		{%- if settings.predictive_search_enabled -%}
			<link
				rel="stylesheet"
				href="{{ 'component-predictive-search.css' | asset_url }}"
				media="print"
				onload="this.media='all'"
			>
		{%- endif -%}

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}

		<script>
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
			if (Shopify.designMode) {
				document.documentElement.classList.add('shopify-design-mode');
			}
		</script>
		<noscript>
			<style>
				.js-split-text {
					opacity: 1;
				}
			</style>
		</noscript>
      {% if template contains 'product' %}
    <style>
    #MainContent .product__media-list li > modal-opener.product__modal-opener.no-js-hidden{
      display: block !important;
    }
      </style>
    {% endif %}
	{% include 'pagefly-app-header' %}</head>

	<body class="template-{{ template.name }} template-{{ template | replace: '.', '-' }}">   
		<a class="skip-to-content-link button visually-hidden" href="#MainContent">
			{{ "accessibility.skip_to_text" | t }}
		</a>

		{% sections 'header-group' %}
		{% sections 'overlay-group' %}
		{% render 'breadcrumbs' %}
		<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
			{{ content_for_layout }}
		</main>
		{% sections 'footer-group' %}

		{% if settings.show_back_to_top %}
			{% render 'scroll-top' %}
		{% endif %}

		{%- if request.page_type != 'cart' -%}
			{%- render 'cart-drawer' -%}
		{%- endif -%}

		<ul hidden>
			<li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
		</ul>

		{{ 'jquery-3.6.0.js' | asset_url | script_tag }}
		{{ 'jquery.fancybox.js' | asset_url | script_tag }}
		{{ 'flickity.js' | asset_url | script_tag }}
        {{ 'quickview.js' | asset_url | script_tag }}
        <!-- update flickity script source with defer option -->
        <script src="{{ 'flickity.js' | asset_url }}" defer="defer"></script>
		{{ 'split-type.js' | asset_url | script_tag }}
		{{ 'heading-animation.js' | asset_url | script_tag }}
		{{ 'popup.js' | asset_url | script_tag }}
		{% if settings.show_back_to_top %}
			<script src="{{ 'scroll-top.js' | asset_url }}" defer="defer"></script>
		{% endif %}
		{% if settings.show_color_swatch %}
      <script src="{{ 'product-card.js' | asset_url }}" defer="defer"></script>
			{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
    {% endif %}

		<script>
			{% capture content %}{% include 'quickview' %}{% endcapture %}
			var content = {{ content | json }};
		</script>

      <script>
document.getElementById("newsletter").addEventListener("click", function() {
    window.location.href = "https://6d4b88-3.myshopify.com//pages/sign-up-for-newsletter";
});
</script>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
  // Remove tooltip functionality for the input field
  var newsletterForm = document.getElementById("NewsletterForm--{{ section.id | escape }}");
  if (newsletterForm) {
    newsletterForm.removeAttribute("title");
  }
});
      </script>

      <script>
  // Wait for the page to fully load
  document.addEventListener("DOMContentLoaded", function() {
    // Check if the current page is the confirm subscription page
    if (window.location.pathname === "/pages/confirm-subscription") {
      // Hide header
      document.querySelector('header').style.display = 'none';
      
      // Hide footer (if it has a unique identifier)
      document.querySelector('footer').style.display = 'none';
    }
  });
</script>
      
		<script>
			window.routes = {
				cart_add_url: '{{ routes.cart_add_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				cart_url: '{{ routes.cart_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}'
			};

			window.cartStrings = {
				error: `{{ 'sections.cart.cart_error' | t }}`,
				quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`,
				empty: `{{ 'general.cart.empty_cart' | t }}`,
				shop_now: `{{ 'customer.account.account_button_shop' | t }}`,
				collections_url: `{{ routes.collections_url | sort_by: 'best-selling' }}`
			}

			window.variantStrings = {
				addToCart: `{{ 'products.product.add_to_cart' | t }}`,
				soldOut: `{{ 'products.product.sold_out' | t }}`,
				unavailable: `{{ 'products.product.unavailable' | t }}`,
				unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
			}

			window.theme = {
				moneyFormat: {{ shop.money_format | json }},
				quickviewText: `{{ settings.quickview }}`,
				quickviewMore: `{{ 'general.card.view__more' | t }}`
			}
		</script>
	  <script src="//cool-image-magnifier.product-image-zoom.com/js/core/main.min.js?timestamp=1667790148&shop=handmade-dv.myshopify.com" defer></script>
		{%- if settings.predictive_search_enabled -%}
			<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
			<script
				src="{{ 'predictive-search.js' | asset_url }}"
				defer="defer"
			></script>
		{%- endif -%}
		<script src="{{ 'custom-dropdown.js' | asset_url }}" defer="defer"></script>
		<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@loophq/onstore-sdk@latest/dist/loop-onstore-sdk.min.js"></script>
<script> 
   LoopOnstore.init({ 
   key: "test-key", 
   attach: ".button, .button--primary, .button--full-width, .button--arrow", 
   });
</script>
</body>
</html>
