<div class="announcement-bar announcement-bar-{% if section.settings.color_scheme == '1' %}1{% endif %}{% if section.settings.color_scheme == '2' %}2{% endif %}" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
	{%- if section.settings.text != blank -%}
		{%- if section.settings.link != blank -%}
			<a href="{{ section.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
		{%- endif -%}
		<div class="announcement-bar__message">
			{%- if section.settings.image != blank -%}
				<figure class="announcement-bar__image">
					<img srcset="{%- if section.settings.image.width >= 25 -%}{{ section.settings.image | img_url: '25x' }} 25w,{%- endif -%}
							{%- if section.settings.image.width >= 50 -%}{{ section.settings.image | img_url: '50x' }} 50w,{%- endif -%}
							{%- if section.settings.image.width >= 75 -%}{{ section.settings.image | img_url: '75x' }} 75w,{%- endif -%}"
							 src="{{ section.settings.image | img_url: '75x' }}"
							 alt="{{ section.settings.image.alt | escape }}"
							 loading="lazy"
							 width="{{ section.settings.image.width }}"
							 height="{{ section.settings.image.height }}"
					>

				</figure>
			{%- endif -%}
			<span class="announcement-bar__text">{{ section.settings.text }}</span>
		</div>
		{%- if section.settings.link != blank -%}
			</a>
		{%- endif -%}
	{%- endif -%}
</div>

{% schema %}
{
	"name": "t:sections.announcement-bar.name",
	"class": "section-announcement",
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"default": "1",
			"label": "t:sections.announcement-bar.settings.color_scheme.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.announcement-bar.settings.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.announcement-bar.settings.options__2.label"
				}
			]
		},
		{
			"type": "html",
			"default": "For example, a test of the announcement of some news",
			"id": "text",
			"label": "t:sections.announcement-bar.settings.text.label"
		},
		{
			"type": "url",
			"id": "link",
			"label": "t:sections.announcement-bar.settings.link.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.announcement-bar.settings.image.label",
			"info": "t:sections.announcement-bar.settings.image.info"
		}
	],
	"default": {
		"settings": {
			"text": "For example, a test of the announcement of some news"
		}
	}
}
{% endschema %}
