{{ 'section-categories-list.css' | asset_url | stylesheet_tag }}

<script src="{{ 'categories-card.js' | asset_url }}" defer="defer"></script>

<noscript>
	<div class="categories-list {% if section.settings.border_top -%}section-border-top{%- endif -%}">
		<div class="container {% if section.settings.border_top -%}section-border-top__inner{%- endif -%}">
			<div class="categories-list__wrapper">
				<ul class="categories-list__list" role="list">
					{%- for block in section.blocks -%}
						<li class="categories-list__item" {{ block.shopify_attributes }}>
							<a
								class="categories-list__link"
								{% if block.settings.collection != blank and block.settings.collection.all_products_count > 0 %}
									href="{{ block.settings.collection.url }}"
								{% endif %}
								{% if block.settings.collection == blank %}
									aria-disabled="true"
								{% endif %}
							>
								<h2 class="categories-list__title title--section">
									{% if block.settings.collection != blank %}
										{{- block.settings.collection.title | escape -}}
									{% else %}
										{{- 'general.card.collection_name' | t -}}
									{% endif %}
								</h2>

								{% render 'icon-categories-list-Arrow' %}
							</a>
						</li>
					{%- endfor -%}
				</ul>
			</div>
		</div>
	</div>
</noscript>

<div class="categories-list {% if section.settings.border_top -%}section-border-top{%- endif -%} no-js-hidden">
	<div class="container {% if section.settings.border_top -%}section-border-top__inner{%- endif -%}">
		<div class="categories-list__wrapper">
			<ul class="categories-list__list" role="list">
				{%- for block in section.blocks -%}
					<li class="categories-list__item" {{ block.shopify_attributes }}>
						<a
							class="categories-list__link"
							{% if block.settings.collection != blank and block.settings.collection.all_products_count > 0 %}
								href="{{ block.settings.collection.url }}"
							{% endif %}
							{% if block.settings.collection == blank %}
								aria-disabled="true"
							{% endif %}
						>
							<h2 class="categories-list__title title--section">
								{% if block.settings.collection != blank %}
									{{- block.settings.collection.title | escape -}}
								{% else %}
									{{- 'general.card.collection_name' | t -}}
								{% endif %}
							</h2>

							{% render 'icon-categories-list-Arrow' %}
						</a>

						{%- if block.settings.collection.products[0].featured_image != blank -%}
							{%- liquid
								assign collection_image = block.settings.collection.products[0].featured_image
							-%}
						{%- else -%}
							{%- liquid
								assign collection_image = block.settings.collection.featured_image
							-%}
						{%- endif -%}

						<div class="categories-list__media">
							{%- if collection_image != blank -%}
								<img
									srcset="
										{%- if collection_image.width >= 165 -%}{{ collection_image | img_url: '165x' }} 165w,{%- endif -%}
										{%- if collection_image.width >= 330 -%}{{ collection_image | img_url: '330x' }} 330w,{%- endif -%}
										{%- if collection_image.width >= 535 -%}{{ collection_image | img_url: '535x' }} 535w,{%- endif -%}
										{%- if collection_image.width >= 720 -%}{{ collection_image | img_url: '720x' }} 720w,{%- endif -%}
										{%- if collection_image.width >= 940 -%}{{ collection_image | img_url: '940x' }} 940w,{%- endif -%}
										{%- if collection_image.width >= 1440 -%}{{ collection_image | img_url: '1440x' }} 1440w,{%- endif -%}
										{%- if collection_image.width >= 1880 -%}{{ collection_image | img_url: '1880x' }} 1880w{%- endif -%}
									"
									src="{{ collection_image | img_url: '535x' }}"
									sizes="(min-width: 1100px){% if section.blocks.size > 1 %}535px{% else %}940px{% endif %}, (min-width: 750px) {% if section.blocks.size > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %}, calc(100vw - 3rem)"
									alt="{{ block.settings.collection.title | escape }}"
									height="{{ collection_image.height }}"
									width="{{ collection_image.width }}"
									loading="lazy"
									class="motion-reduce"
								>
							{%- endif -%}
						</div>
					</li>
				{%- endfor -%}
			</ul>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.categories-list.name",
	"tag": "section",
	"class": "categories-list-section spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"max_blocks": 6,
	"settings": [
		{
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.newsletter.settings.border_top.label"
		}
	],
	"blocks": [
		{
			"type": "categories",
			"name": "t:sections.categories-list.blocks.categories.name",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "t:sections.categories-list.blocks.categories.settings.collection.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.categories-list.presets.name",
			"blocks": [
				{
					"type": "categories"
				},
				{
					"type": "categories"
				},
				{
					"type": "categories"
				},
				{
					"type": "categories"
				}
			]
		}
	]
}
{% endschema %}
