{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>

<div class="contact">
  <div class="container contact__wrapper">
    {%- if section.settings.image_1 != blank or section.settings.image_2 != blank -%}
      <div class="contact__image">
        {%- if section.settings.image_1 != blank -%}
          {%- assign image_size_1 = section.settings.image_width_1 | append: 'x' -%}
          <div class="contact__image-item">
            <img srcset="{{ section.settings.image_1 | img_url: image_size_1 }} 1x, {{ section.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
              src="{{ section.settings.image_1 | img_url: image_size_1 }}"
              alt="{{ section.settings.image_1.alt | escape }}"
              width="{{ section.settings.image_width_1 }}"
              height="{{ section.settings.image_1.height }}"
              loading="lazy"
              class="js-parallax"
              data-parallax-property="translateY" data-parallax-property-value="-50"
            >
          </div>
        {% endif %}
        {%- if section.settings.image_2 != blank -%}
          {%- assign image_size_2 = section.settings.image_width_2 | append: 'x' -%}
          <div class="contact__image-item">
            <img srcset="{{ section.settings.image_2 | img_url: image_size_2 }} 1x, {{ section.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
              src="{{ section.settings.image_2 | img_url: image_size_2 }}"
              alt="{{ section.settings.image_2.alt | escape }}"
              width="{{ section.settings.image_width_2 }}"
              height="{{ section.settings.image_2.height }}"
              loading="lazy"
              class="js-parallax"
              data-parallax-property="translateY" data-parallax-property-value="-75"
            >
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="contact__container">
      <div class="contact__text">
        <h2 class="contact__title">
          {{ section.settings.heading }}
        </h2>
        <p> {{ section.settings.text | escape }} </p>
      </div>
      {%- form 'contact', id: 'ContactForm' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
        {%- elsif form.errors -%}
        {%- endif -%}
        <div class="contact__fields">
          <div class="field">
            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
        </div>
        <div class="contact__button">
          <button type="submit" class="button button--arrow">
            {{ 'templates.contact.form.send' | t }}
            {%- render 'icon-checkout' -%}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div> 

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section contact-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Contact form</p>",
      "label": "t:sections.contact-form.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Some text for your contact form. You can use multiple lines of text.",
      "label": "t:sections.contact-form.settings.text.label"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.contact-form.settings.image_1.label"
    },
    {
      "type": "range",
      "id": "image_width_1",
      "min": 50,
      "max": 130,
      "step": 10,
      "default": 90,
      "unit": "t:sections.contact-form.settings.image_width.unit",
      "label": "t:sections.contact-form.settings.image_width.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.contact-form.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_width_2",
      "min": 50,
      "max": 130,
      "step": 10,
      "default": 90,
      "unit": "t:sections.contact-form.settings.image_width.unit",
      "label": "t:sections.contact-form.settings.image_width.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
