<link
	rel="stylesheet"
	href="{{ 'component-slider.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'component-price.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'component-badge.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'template-collection.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>
	{{- 'template-collection.css' | asset_url | stylesheet_tag -}}
</noscript>

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'featured-collection.js' | asset_url }}" defer="defer"></script>

<div class="featured-collection-section__wrapper color-{{ section.settings.color_scheme }}">
	<div class="featured-collection collection--products container">
		<div class="featured-collection__wrapper">
			<div class="featured-collection__image-wrapper">
				{%- if section.settings.image != blank -%}
					{%- assign image_size = section.settings.image_width | append: 'x' -%}
					<img
						srcset="{{ section.settings.image | img_url: image_size }} 1x, {{ section.settings.image | img_url: image_size, scale: 2 }} 2x"
						src="{{ section.settings.image | img_url: image_size }}"
						alt="{{ section.settings.image.alt | escape }}"
						width="{{ section.settings.image_width }}"
						height="{{ section.settings.image.height }}"
						loading="lazy"
						class="featured-collection__image"
					>
				{%- else -%}
					{{
						'collection-4'
						| placeholder_svg_tag: 'featured-collection__placeholder'
					}}
				{%- endif -%}
				{%- if section.settings.image_1 != blank -%}
					{%- assign image_size_1 = section.settings.image_width_1
						| append: 'x'
					-%}
					<img
						srcset="{{ section.settings.image_1 | img_url: image_size_1 }} 1x, {{ section.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
						src="{{ section.settings.image_1 | img_url: image_size_1 }}"
						alt="{{ section.settings.image_1.alt | escape }}"
						width="{{ section.settings.image_width_1 }}"
						height="{{ section.settings.image_1.height }}"
						loading="lazy"
						class="js-parallax featured-collection__image featured-collection__image--left"
						data-parallax-property="translateY"
						data-parallax-property-value="-50"
					>
				{%- endif -%}
			</div>

			<div class="featured-collection__column featured-collection__column{% if section.settings.sub_title != blank %}--padding{% endif %}">
				{%- if section.settings.title != blank -%}
					<h2 class="h2 featured-collection__title title--section title--section-mt-none js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}">
						{%- if section.settings.sub_title != blank -%}
							<div class="subtitle">
								{{ section.settings.sub_title | truncate: 25, '' }}
								{% render 'icon-star' %}
							</div>
						{%- endif -%}
						{{ section.settings.title }}
					</h2>
				{%- endif -%}

				{%- if section.settings.text_information != blank
					or section.settings.show_view_all
				-%}
					<div class="featured-collection__information">
						{%- if section.settings.text_information != blank -%}
							<p class="featured-collection__text">
								{{ section.settings.text_information | escape }}
							</p>
						{%- endif -%}

						{%- if section.settings.show_view_all -%}
							<a
								{% if section.settings.collection.url != blank %}
									href="{{ section.settings.collection.url | sort_by: 'best-selling' }}"
								{% endif %}
								class="button featured-collection__button button--primary-size button--arrow button--secondary"
								{% if section.settings.collection.url == blank %}
									aria-disabled="true"
								{% endif %}
							>
								<span>{{ section.settings.button_label | escape }}</span>
								{% render 'icon-button-arrow' %}
							</a>
						{%- endif -%}
					</div>
				{%- endif -%}
			</div>
			{%- if section.settings.image_2 != blank -%}
				{%- assign image_size_2 = section.settings.image_width_2
					| append: 'x'
				-%}
				<img
					srcset="{{ section.settings.image_2 | img_url: image_size_2 }} 1x, {{ section.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
					src="{{ section.settings.image_2 | img_url: image_size_1 }}"
					alt="{{ section.settings.image_2.alt | escape }}"
					width="{{ section.settings.image_width_2 }}"
					height="{{ section.settings.image_2.height }}"
					loading="lazy"
					class="js-parallax featured-collection__image featured-collection__image--right"
					data-parallax-property="translateY"
					data-parallax-property-value="-100"
				>
			{%- endif -%}
		</div>
	</div>
	{%- liquid
		assign products_to_display = section.settings.collection.all_products_count

		if section.settings.collection.all_products_count > section.settings.products_to_show
			assign products_to_display = section.settings.products_to_show
		endif
	%}

	<noscript>
		<slider-component class="collection-product__slider slider-mobile-gutter collection-product__slider--no-js">
			<div class="container">
				<div class="collection-product-list-wrapper">
					<div
						class="collection-product-list slider slider--tablet"
						id="Slider-{{ section.id }}" 
					>
						{%- for product in section.settings.collection.products
							limit: section.settings.products_to_show
						-%}
							<div class="collection-product-card featured-collection-section__card slider__slide quickview{%- if settings.quickview_hover -%}--hover{% endif %}">
								{%
									render 'product-card',
									product_card_product: product,
									media_size: section.settings.image_ratio,
									media_fit: section.settings.image_fit,
									show_secondary_image: section.settings.show_secondary_image,
									add_image_padding: section.settings.add_image_padding,
									show_vendor: section.settings.show_vendor,
									show_desc: section.settings.show_desc,
								%}
							</div>
						{%- else -%}
							{%- for i in (1..6) -%}
								<div class="collection-product-card featured-collection-section__card">
									{% render 'product-card-placeholder' %}
								</div>
							{%- endfor -%}
						{%- endfor -%}
					</div>
				</div>
			</div>
		</slider-component>
	</noscript>

	<slider-component class="collection-product__slider slider-mobile-gutter no-js-hidden">
		<div class="container">
			<div class="collection-product-list__buttons slider-btns slider-btns{%- if section.settings.collection.products.size == 3 -%}--3{%- elsif section.settings.collection.products.size == 2 -%}--2{%- elsif section.settings.collection.products.size == 1 -%}--1{%- endif -%}">
				<button
					class="collection-product-list__button collection-product-list__button--prev slider-btn slider-btn--prev"
					aria-label="Prev"
				>
					{% render 'icon-caret-left' %}
				</button>
				<button
					class="collection-product-list__button collection-product-list__button--next slider-btn slider-btn--next"
					aria-label="Next"
				>
					{% render 'icon-caret-right' %}
				</button>
			</div>

			<div
				class="collection-product-list slider slider--tablet"
				id="Slider-{{ section.id }}"
			>
				{%- for product in section.settings.collection.products
					limit: section.settings.products_to_show
				-%}
					<div class="collection-product-card featured-collection-section__card slider__slide quickview{%- if settings.quickview_hover -%}--hover{% endif %}">
						{%
							render 'product-card',
							product_card_product: product,
							media_size: section.settings.image_ratio,
							media_fit: section.settings.image_fit,
							show_secondary_image: section.settings.show_secondary_image,
							add_image_padding: section.settings.add_image_padding,
							show_vendor: section.settings.show_vendor,
							show_desc: section.settings.show_desc,
						%}
					</div>
				{%- else -%}
					{%- for i in (1..6) -%}
						<div class="collection-product-card featured-collection-section__card">
							{% render 'product-card-placeholder' %}
						</div>
					{%- endfor -%}
				{%- endfor -%}
			</div>
		</div>
	</slider-component>
</div>

{% schema %}
{
	"name": "t:sections.featured-collection.name",
	"tag": "section",
	"class": "featured-collection-section spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "background-3",
					"label": "t:sections.featured-collection.settings.color_scheme.options__1.label"
				},
				{
					"value": "background-5",
					"label": "t:sections.featured-collection.settings.color_scheme.options__2.label"
				}
			],
			"default": "background-3",
			"label": "t:sections.featured-collection.settings.color_scheme.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.featured-collection.settings.image.label"
		},
		{
			"type": "range",
			"id": "image_width",
			"min": 300,
			"max": 500,
			"step": 10,
			"default": 410,
			"unit": "t:sections.featured-collection.settings.image_width.unit",
			"label": "t:sections.featured-collection.settings.image_width.label"
		},
		{
			"type": "richtext",
			"id": "title",
			"default": "<p>Some header for your collection</p>",
			"label": "t:sections.featured-collection.settings.title.label"
		},
		{
			"type": "checkbox",
			"id": "heading_animation",
			"default": true,
			"label": "t:sections.featured-collection.settings.heading_animation.label"
		},
		{
			"type": "text",
			"id": "sub_title",
			"default": "Subheading",
			"label": "t:sections.featured-collection.settings.sub_title.label",
			"info": "t:sections.featured-collection.settings.sub_title.info"
		},
		{
			"type": "textarea",
			"id": "text_information",
			"default": "Some descriptive text for your collection. For better alignment, it is better to use text in several lines",
			"label": "t:sections.featured-collection.settings.text_information.label"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.featured-collection.settings.show_view_all.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Shop now",
			"label": "t:sections.featured-collection.settings.button_label.label"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "t:sections.featured-collection.settings.collection.label",
			"info": "t:sections.featured-collection.settings.collection.info"
		},
		{
			"type": "range",
			"id": "products_to_show",
			"min": 6,
			"max": 12,
			"step": 3,
			"default": 6,
			"label": "t:sections.featured-collection.settings.products_to_show.label"
		},
		{
			"type": "image_picker",
			"id": "image_1",
			"label": "t:sections.featured-collection.settings.image_1.label"
		},
		{
			"type": "range",
			"id": "image_width_1",
			"min": 145,
			"max": 160,
			"step": 5,
			"default": 145,
			"unit": "t:sections.featured-collection.settings.image_width.unit",
			"label": "t:sections.featured-collection.settings.image_width_1.label"
		},
		{
			"type": "image_picker",
			"id": "image_2",
			"label": "t:sections.featured-collection.settings.image_2.label"
		},
		{
			"type": "range",
			"id": "image_width_2",
			"min": 145,
			"max": 160,
			"step": 5,
			"default": 145,
			"unit": "t:sections.featured-collection.settings.image_width.unit",
			"label": "t:sections.featured-collection.settings.image_width_1.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-collection.settings.header.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.featured-collection.settings.image_ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.featured-collection.settings.image_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.featured-collection.settings.image_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.featured-collection.settings.image_fit.options__2.label"
				}
			],
			"default": "contain"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.featured-collection.settings.show_desc.label",
			"info": "t:sections.featured-collection.settings.show_desc.info"
		}
	],
	"presets": [
		{
			"name": "t:sections.featured-collection.presets.name"
		}
	]
}
{% endschema %}
