{{ 'section-image.css' | asset_url | stylesheet_tag }}
{{ 'section-image-carousel.css' | asset_url | stylesheet_tag }}
<script src='{{ 'image-carousel.js' | asset_url }}' defer='defer'></script>
 
<div class='spaced-section color-{{ section.settings.color_scheme }}'>
	<div class='container'>
		{%- if section.settings.heading != blank -%}
			<h2 class='image-section__title h1 js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}'>
				{{ section.settings.heading }}
			</h2>
		{%- endif -%}
		{%- if section.settings.text_information != blank -%}
			<p class='image-section__text'>{{ section.settings.text_information }}</p>
		{%- endif -%}

		{%- if section.settings.show_view_all -%}
			<a
				{% if section.settings.button_link.url != blank %}
					href='{{ section.settings.button_link }}'
				{% endif %}
				class='button image-section__button button--primary-size button--arrow button--{{ section.settings.button_style }}'
				{% if section.settings.button_link.url == blank %}
					aria-disabled='true'
				{% endif %}
			>
				<span>{{ section.settings.button_label | escape }}</span>
				{% render 'icon-button-arrow' %}
			</a>
		{%- endif -%}
	</div>

	<slider-component class='image-section__slider slider-mobile-gutter'>
		<div
			class='image-section__list'
			data-pouse-on-hover='{{ section.settings.pause_on_hover }}'
			id='Slider-{{ section.id }}'
		>
			{%- for block in section.blocks -%}
				<div class='image-section__slide slider__slide' {{ block.shopify_attributes }}>
					{%- if block.settings.image != blank -%}
						{%- assign image_size = block.settings.image_width | append: 'x' -%}
						<img
							srcset='{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x'
							src='{{ block.settings.image | img_url: image_size }}'
							alt='{{ block.settings.image.alt | escape }}'
							width='{{ block.settings.image_width }}'
							height='{{ block.settings.image.height }}'
							class='image-section__image'
							loading='lazy'
						>
					{%- else -%}
						{{
							'image'
							| placeholder_svg_tag: 'image-carousel-section__placeholder'
						}}
					{%- endif -%}
				</div>
			{%- endfor -%}
		</div>
	</slider-component>
</div>

{% schema %}
{
	"name": "t:sections.image-carousel.name",
	"tag": "section",
	"class": "image-carousel-section image-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "background-1",
					"label": "t:sections.header.settings.color_scheme.options__1.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.header.settings.color_scheme.options__2.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.header.settings.color_scheme.label"
		},
		{
			"type": "richtext",
			"id": "heading",
			"default": "<p>Some header for your <em>collection</em></p>",
			"label": "t:sections.image-carousel.settings.heading.label"
		},
		{
			"type": "checkbox",
			"id": "heading_animation",
			"default": true,
			"label": "t:sections.image-carousel.settings.heading_animation.label"
		},
		{
			"type": "textarea",
			"id": "text_information",
			"default": "Some descriptive text for your collection. For better alignment, it is better to use text in several lines.",
			"label": "t:sections.image-carousel.settings.text_information.label"
		},
		{
			"type": "header",
			"content": "t:sections.image-carousel.settings.header__1.content"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.image-carousel.settings.show_view_all.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Shop now",
			"label": "t:sections.image-carousel.settings.button_label.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.image-carousel.settings.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.image-carousel.settings.button_style.options__2.label"
				}
			],
			"default": "secondary",
			"label": "t:sections.image-carousel.settings.button_style.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.image-carousel.settings.button_link.label"
		},
		{
			"type": "checkbox",
			"id": "pause_on_hover",
			"default": false,
			"label": "t:sections.image-carousel.settings.pause_on_hover.label"
		}
	],
	"blocks": [
		{
			"name": "t:sections.image-carousel.blocks.name",
			"type": "column",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.image-carousel.blocks.settings.image.label"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 200,
					"max": 450,
					"step": 10,
					"default": 350,
					"unit": "t:sections.image-carousel.blocks.settings.image_width.unit",
					"label": "t:sections.image-carousel.blocks.settings.image_width.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.image-carousel.presets.name",
			"blocks": [
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				}
			]
		}
	]
}
{% endschema %}
