{{ 'section-image.css' | asset_url | stylesheet_tag }}
{{ 'section-image-cards.css' | asset_url | stylesheet_tag }}
<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>

<div class="spaced-section color-{{ section.settings.color_scheme }}">
	<div class="container">
		{%- if section.settings.heading != blank -%}
			<h2 class="image-section__title h1 js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}">{{ section.settings.heading }}</h2>
		{%- endif -%}
		{%- if section.settings.text_information != blank -%}
			<p class="image-section__text">{{ section.settings.text_information }}</p>
		{%- endif -%}
	
		{%- if section.settings.show_view_all -%}
			<a {% if section.settings.button_link.url != blank %} href="{{ section.settings.button_link }}"{% endif %} class="button image-section__button button--primary-size button--arrow button--{{ section.settings.button_style }}" {% if section.settings.button_link.url == blank %}aria-disabled = "true"{% endif %}>
				<span>{{ section.settings.button_label | escape }}</span> {% render 'icon-button-arrow' %}
			</a>
		{%- endif -%}
	
		<div class="image-section__cards">
			<div class="image-section__card card js-parallax" data-parallax-property="translateX, rotate" data-parallax-property-value="-20">
				{%- if section.settings.image_1 != blank -%}
					{%- assign image_size = section.settings.image_1.width | append: 'x' -%}
					<img srcset="{{ section.settings.image_1 | img_url: image_size }} 1x, {{ section.settings.image_1 | img_url: image_size, scale: 2 }} 2x"
							src="{{ section.settings.image_1 | img_url: image_size }}"
							alt="{{ section.settings.image_1.alt | escape }}"
							width="{{ image_size }}"
							height="{{ section.settings.image_1.height }}"
							loading="lazy"
							class="card__image"
							style="object-position: {{ section.settings.image_1.presentation.focal_point }}"
					>
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 'card__placeholder' }}
				{%- endif -%}
			</div>
			<div class="image-section__card card">
				{%- if section.settings.image_2 != blank -%}
					{%- assign image_size = section.settings.image_2.width | append: 'x' -%}
					<img srcset="{{ section.settings.image_2 | img_url: image_size }} 1x, {{ section.settings.image_2 | img_url: image_size, scale: 2 }} 2x"
							src="{{ section.settings.image_2 | img_url: image_size }}"
							alt="{{ section.settings.image_2.alt | escape }}"
							width="{{ image_size }}"
							height="{{ section.settings.image_2.height }}"
							loading="lazy"
							class="card__image"
							style="object-position: {{ section.settings.image_2.presentation.focal_point }}"
					>
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 'card__placeholder' }}
				{%- endif -%}		
			</div>
			<div class="image-section__card card js-parallax" data-parallax-property="translateX, rotate" data-parallax-property-value="20">
				{%- if section.settings.image_3 != blank -%}
					{%- assign image_size = section.settings.image_3.width | append: 'x' -%}
					<img srcset="{{ section.settings.image_3 | img_url: image_size }} 1x, {{ section.settings.image_3 | img_url: image_size, scale: 2 }} 2x"
							src="{{ section.settings.image_3 | img_url: image_size }}"
							alt="{{ section.settings.image_3.alt | escape }}"
							width="{{ image_size }}"
							height="{{ section.settings.image_3.height }}"
							loading="lazy"
							class="card__image"
							style="object-position: {{ section.settings.image_3.presentation.focal_point }}"
					>
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 'card__placeholder' }}
				{%- endif -%}		
			</div>
		</div>
	
	</div>
</div>

{% schema %}
{
	"name": "t:sections.image-cards.name",
	"tag": "section",
	"class": "image-cards-section image-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "background-1",
					"label": "t:sections.header.settings.color_scheme.options__1.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.header.settings.color_scheme.options__2.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.header.settings.color_scheme.label"
		},
		{
			"type": "richtext",
			"id": "heading",
			"default": "<p>Some header for your <em>collection</em></p>",
			"label": "t:sections.image-cards.settings.heading.label"
		},
		{
			"type": "checkbox",
			"id": "heading_animation",
			"default": true,
			"label": "t:sections.image-cards.settings.heading_animation.label"
		},
		{
			"type": "textarea",
			"id": "text_information",
			"default": "Some descriptive text for your collection. For better alignment, it is better to use text in several lines.",
			"label": "t:sections.image-cards.settings.text_information.label"
		},
		{
			"type": "header",
			"content": "t:sections.image-cards.settings.header__1.content"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.image-cards.settings.show_view_all.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Shop now",
			"label": "t:sections.image-cards.settings.button_label.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.image-cards.settings.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.image-cards.settings.button_style.options__2.label"
				}
			],
			"default": "secondary",
			"label": "t:sections.image-cards.settings.button_style.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.image-cards.settings.button_link.label"
		},
		{
			"type": "image_picker",
			"id": "image_1",
			"label": "t:sections.image-cards.settings.image.label"
		},
		{
			"type": "image_picker",
			"id": "image_2",
			"label": "t:sections.image-cards.settings.image.label"
		},
		{
			"type": "image_picker",
			"id": "image_3",
			"label": "t:sections.image-cards.settings.image.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.image-cards.presets.name"
		}
	]
}
{% endschema %}
