{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text {% if section.settings.border_top -%}section-border-top{%- endif -%}">
  <div class="container {% if section.settings.border_top -%}section-border-top__inner{%- endif -%}">
    <div class="image-with-text__container image-with-text__container--{{ section.settings.position }}">
      <div class="image-with-text__grid{% if section.settings.layout == 'text_last' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__left">
          <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
          >
            {%- if section.settings.image != blank -%}
              <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 967 -%}{{ section.settings.image | img_url: '967x' }} 967w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
                  src="{{ section.settings.image | img_url: '967x' }}"
                  sizes="(min-width: 1100px) 1070px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ section.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__content">
          {%- if section.settings.heading != blank -%}
            <h2 class="image-with-text__heading title--section  h2">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          <div class="image-with-text__text">
            {{ section.settings.text }}
          </div>
          <div class="image-with-text__column-text">
            {{ section.settings.column_text | escape | newline_to_br }}
          </div>
          <div class="image-with-text__author">
            <ul class="image-with-text__author-avatar" role="list">
              {%- for block in section.blocks -%}
                <li class="image-with-text__author-avatar-item" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- assign image_size = block.settings.image | append: 'x' -%}
                    <img srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.image | img_url: image_size }}"
                        width="43"
                        height="43"
                        alt="{{ block.settings.title }}"
                        loading="lazy"
												style="object-position: {{ block.settings.image.presentation.focal_point }}"
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </li>
                {%- if block.settings.name != blank -%}
                  {%- capture author_name -%}
                    {{ author_name | append: block.settings.name | append: ',' }}
                  {%- endcapture -%}
                {%- endif -%}
              {%- endfor -%}
            </ul>
            <div class="image-with-text__author-text">
              {%- if author_name != blank -%}
                <div class="image-with-text__author-name">
                  {{ author_name | remove_last: ',' }}
                </div>
              {%- endif -%}
              {%- if section.settings.author_position != blank -%}
                <div class="image-with-text__author-position">
                  {{ section.settings.author_position }}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "spaced-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "position",
      "label": "t:sections.image-with-text.settings.position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.position.options__2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Some heading for this section</p>",
      "label": "t:sections.image-with-text.settings.heading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "all-height",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Description of your company, company history, company founders, and so on. There may be several paragraphs here.</p>",
      "label": "t:sections.image-with-text.settings.text.label"
    },
    {
      "type": "textarea",
      "id": "column_text",
      "default": "Description of your company, company history, company founders in two columns. You can also add any text. Add text about whatever you want.",
      "label": "t:sections.image-with-text.settings.column_text.label"
    },
    {
      "type": "text",
      "id": "author_position",
      "default": "Position of authors or any other text",
      "label": "t:sections.image-with-text.settings.author_position.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_last",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_last",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_last",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.newsletter.settings.border_top.label"
		}
  ],
  "blocks": [
    {
      "type": "author",
      "name": "t:sections.image-with-text.blocks.author.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.blocks.author.settings.image.label"
        },
        {
          "type": "text",
          "id": "name",
          "default": "Author name",
          "label": "t:sections.image-with-text.blocks.author.settings.name.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "author"
        },
        {
          "type": "author"
        },
        {
          "type": "author"
        }
      ]
    }
  ]
}
{% endschema %}
