{{ 'image-collage.css' | asset_url | stylesheet_tag }}

<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'image-collage.js' | asset_url }}" defer="defer"></script>

{% unless template == 'customers/login' or template == 'customers/register' %}
	<div class="image-collage color-background-2 parallax-img-container">
		<div class="container">
			<div class="image-collage__item">

				{%- if section.settings.sub_title != blank -%}
					<div class="subtitle">{{ section.settings.sub_title | escape }}</div>
				{% endif %}

				{%- if section.settings.title != blank -%}
					<h2 class="image-collage__title title--section m-0 h3">{{ section.settings.title }}</h2>
				{% endif %}

				<div class="image-collage__follow">

					<div class="image-collage__account">
						{%- if section.settings.image_account != blank -%}
							<figure class="image-collage__photo">
								<img
									srcset="{%- if section.settings.image_account.width >= 65 -%}{{ section.settings.image_account | img_url: '65x' }} 65w,{%- endif -%}
								{%- if section.settings.image_account.width >= 130 -%}{{ section.settings.image_account | img_url: '130x' }} 130w,{%- endif -%}
								{{ section.settings.image_account | img_url: 'master' }} {{ section.settings.image_account.width }}w"
									src="{{ section.settings.image_account | img_url: '65x' }}"
									loading="lazy"
									alt="{{ section.settings.image_account.alt | escape }}"
									width="{{ section.settings.image_account.width }}"
									height="{{ section.settings.image_account.width | divided_by: section.settings.image_account.aspect_ratio }}"
									style="object-position: {{ section.settings.image_account.presentation.focal_point }}"
								>
							</figure>
						{%- endif -%}

						{%- if section.settings.name_account != blank or section.settings.desc_account != blank -%}
							<div class="image-collage__info">
								{%- if section.settings.name_account != blank -%}
									<span class="image-collage__name">{{ section.settings.name_account | escape }}</span>
								{% endif %}

								{%- if section.settings.desc_account != blank -%}
									<span class="image-collage__text">{{ section.settings.desc_account | escape }}</span>
								{% endif %}
							</div>
						{% endif %}
					</div>

					{%- if section.settings.button_label != blank -%}
						<a {% if section.settings.button_link != blank %} href="{{ section.settings.button_link }}"{% endif %} class="image-collage__link button  button--arrow button--primary-size button--{{ section.settings.button_style }}" {% if section.settings.button_link == blank %} aria-disabled="true"{% endif %}>
							<span>{{ section.settings.button_label | escape }}</span>{% render 'icon-button-arrow' %}
						</a>
					{%- endif -%}
				</div>
			</div>

			<div class="image-collage__images">
				<div class="image-collage__image-list">
					{%- for block in section.blocks -%}
						<div class="image-collage__image js-parallax" data-parallax-property="translateY" data-parallax-property-value="-150" data-parallax-steps="0, 100" {{ block.shopify_attributes }}>
							{%- if block.settings.image != blank -%}
								{%- assign image_size = block.settings.image_width | append: 'x' -%}
								<img srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
										 src="{{ block.settings.image | img_url: image_size }}"
										 alt="{{ block.settings.image.alt | escape }}"
										 width="{{ block.settings.image_width }}"
										 height="{{ block.settings.image.height }}"
								>
							{%- endif -%}
						</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
{% endunless %}


{% schema %}
{
	"name": "t:sections.image-collage.name",
	"tag": "section",
	"class": "image-collage-section spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"max_blocks": 5,
	"settings": [
		{
			"type": "text",
			"id": "sub_title",
			"default": "Subheading",
			"label": "t:sections.image-collage.settings.sub_title.label"
		},
		{
			"type": "richtext",
			"id": "title",
			"default": "<p> <em> Heading for </em> Image collage</p>",
			"label": "t:sections.image-collage.settings.title.label"
		},
		{
			"type": "image_picker",
			"id": "image_account",
			"label": "t:sections.image-collage.settings.image_account.label"
		},
		{
			"type": "text",
			"id": "name_account",
			"default": "For instance account name",
			"label": "t:sections.image-collage.settings.name_account.label"
		},
		{
			"type": "text",
			"id": "desc_account",
			"default": "For instance account followers",
			"label": "t:sections.image-collage.settings.desc_account.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Explore",
			"label": "t:sections.image-collage.settings.button_label.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.image-collage.settings.button_link.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.image-collage.settings.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.image-collage.settings.button_style.options__2.label"
				}
			],
			"default": "secondary",
			"label": "t:sections.image-collage.settings.button_style.label"
		}
	],
	"blocks": [
		{
			"type": "image-collage_image",
			"name": "t:sections.image-collage.blocks.image-collage_image.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.image-collage.blocks.image-collage_image.settings.image.label"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 120,
					"step": 10,
					"default": 120,
					"unit": "t:sections.image-collage.blocks.image-collage_image.settings.image_width.unit",
					"label": "t:sections.image-collage.blocks.image-collage_image.settings.image_width.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.image-collage.presets.name",
			"blocks": [
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				},
				{
					"type": "image-collage_image"
				}
			]
		}
	]
}
{% endschema %}
