{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src = "{{ 'customer.js' | asset_url }}" defer></script>
<script src="{{ 'input.js' | asset_url }}" defer="defer"></script>

{%- paginate customer.addresses by 5 -%}
	<div class = "customer addresses" data-customer-addresses>
		<div class = "container">
			<svg style = "display: none">
				<symbol id = "icon-caret" viewBox = "0 0 10 6">
					<path fill-rule = "evenodd" clip-rule = "evenodd" d = "M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill = "currentColor"/>
				</symbol>
			</svg>
			<div class = "page-header">
				<div class = "page-header__inner">
					<div class="customer__top">
						<h1 class = "main-page-title page-title title--page">{{ 'customer.addresses.title' | t }}</h1>
						<a class = "title-link" href = "{{ routes.account_url }}">
							{{ 'customer.account.return' | t }}
						</a>
					</div>
				</div>
			</div>

			{%- if customer.addresses_count  != 0 -%}
				<button type = "button"
								data-type="new"
								aria-expanded = "false"
								aria-controls = "AddAddress"
								class = "button button--arrow button--secondary address-add-new">
					{{ 'customer.addresses.add_new_other' | t }}
					{% render 'icon-button-arrow' %}
				</button>
			{%- endif -%}

			<div class = "address-add-form" data-address>
				<div class = "address-add-form__item js-expand-elem" id = "AddAddress" data-expand="false">
					<div class = "address-add-form__inner">
						<h2 class = "h4" id = "AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
						{%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
							<div class = "field">
								<input type = "text" id = "AddressFirstNameNew" name = "address[first_name]" value = "{{ form.first_name }}" autocomplete = "given-name" placeholder = "{{ 'customer.addresses.first_name' | t }}">
								<label for = "AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
							</div>
							<div class = "field">
								<input
									type = "text"
									id = "AddressLastNameNew"
									name = "address[last_name]"
									value = "{{ form.last_name }}"
									autocomplete = "family-name"
									required
								>
								<label for = "AddressLastNameNew" placeholder="{{ 'customer.addresses.last_name' | t }}"></label>
							</div>
							<div class = "field">
								<input type = "text" id = "AddressCompanyNew" name = "address[company]" value = "{{ form.company }}" autocomplete = "organization" placeholder = "{{ 'customer.addresses.company' | t }}">
								<label for = "AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
							</div>
							<div class = "field">
								<input
									type = "text"
									id = "AddressAddress1New"
									name = "address[address1]"
									value = "{{ form.address1 }}"
									autocomplete = "address-line1"
									required
								>
								<label for = "AddressAddress1New" placeholder="{{ 'customer.addresses.address1' | t }}"></label>
							</div>
							<div class = "field">
								<input type = "text" id = "AddressAddress2New" name = "address[address2]" value = "{{ form.address2 }}" autocomplete = "address-line2" placeholder = "{{ 'customer.addresses.address2' | t }}">
								<label for = "AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
							</div>
							<div class = "field">
								<input
									type = "text"
									id = "AddressCityNew"
									name = "address[city]"
									value = "{{ form.city }}"
									autocomplete = "address-level2"
									required
								>
								<label for = "AddressCityNew" placeholder="{{ 'customer.addresses.city' | t }}"></label>
							</div>
							<div class = "field">
								<label for = "AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
								<div class = "select js-select">
									<select
											id = "AddressCountryNew"
											name = "address[country]"
											data-default = "{{ form.country }}"
											autocomplete = "country"
									>
										{{ all_country_option_tags }}
									</select>
									<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M6.375 12.1684C7.41443 9.97632 9.52475 8.42672 12 8.25018L12 8.90556C8.82042 9.15588 6.31579 11.9052 6.31579 15.26C6.31579 15.4249 6.32185 15.5884 6.33374 15.7502L5.66626 15.7502C5.67815 15.5884 5.68421 15.4249 5.68421 15.26C5.68421 11.9052 3.17958 9.15588 5.644e-07 8.90556L5.93047e-07 8.25018C2.47525 8.42672 4.58557 9.97632 5.625 12.1684L5.625 -2.7866e-07L6.375 -2.45877e-07L6.375 12.1684Z" fill="#56443E"/>
									</svg>
								</div>
							</div>
							<div class = "field" id = "AddressProvinceContainerNew" style = "display: none">
								<label for = "AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
								<div class = "select">
									<select
											id = "AddressProvinceNew"
											name = "address[province]"
											data-default = "{{ form.province }}"
											autocomplete = "address-level1"
									>
									</select>
									<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M6.375 12.1684C7.41443 9.97632 9.52475 8.42672 12 8.25018L12 8.90556C8.82042 9.15588 6.31579 11.9052 6.31579 15.26C6.31579 15.4249 6.32185 15.5884 6.33374 15.7502L5.66626 15.7502C5.67815 15.5884 5.68421 15.4249 5.68421 15.26C5.68421 11.9052 3.17958 9.15588 5.644e-07 8.90556L5.93047e-07 8.25018C2.47525 8.42672 4.58557 9.97632 5.625 12.1684L5.625 -2.7866e-07L6.375 -2.45877e-07L6.375 12.1684Z" fill="#56443E"/>
									</svg>
								</div>
							</div>
							<div class = "field">
								<input
									type = "text"
									id = "AddressZipNew"
									name = "address[zip]"
									value = "{{ form.zip }}"
									autocapitalize = "characters"
									autocomplete = "postal-code"
									required
								>
								<label for = "AddressZipNew" placeholder="{{ 'customer.addresses.zip' | t }}"></label>
							</div>
							<div class = "field">
								<input type = "tel" id = "AddressPhoneNew" name = "address[phone]" value = "{{ form.phone }}" autocomplete = "tel" placeholder = "{{ 'customer.addresses.phone' | t }}">
								<label for = "AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
							</div>
							<div class = "address-add-default-check">
								{{ form.set_as_default_checkbox }}
								<label for = "address_default_address_new">
									<b></b>
									{{ 'customer.addresses.set_default' | t }}
								</label>
							</div>
							<div class = "address-add-buttons">
								<button class = "button button--arrow address-add-item">
									{{ 'customer.addresses.add' | t }}
									{% render 'icon-button-arrow' %}
								</button>
								<button class = "button button--secondary address-cancel" type = "reset" data-type="reset">
									{{ 'customer.addresses.cancel' | t }}
								</button>
							</div>
                                          <form method="post" action="/account/recover" id="recover_customer_password">
    <input type="email" value="" name="email" id="recover-email" placeholder="Enter your email address" autocorrect="off" autocapitalize="off" aria-required="true" required>
    <input type="submit" class="btn" value="Reset Password">
</form>
						{%- endform -%}
					</div>
				</div>

				{%- if customer.addresses_count  == 0 -%}
					<div class = "account-none account-none-address" data-expand="true">
						{% render 'icon-account-address-none' %}
						<p class = "account-none-text">{{ 'customer.addresses.none' | t }}</p>
						<button
							type = "button"
							aria-expanded = "false"
							aria-controls = "AddAddress"
							class = "button--arrow button--secondary address-add-show"
							data-type="new"
						>
							{{ 'customer.addresses.add_new' | t }}
							{% render 'icon-button-arrow' %}
						</button>
					</div>
				{%- endif -%}

			</div>

			<div class = "address-list" role = "list">
				{%- for address in customer.addresses -%}
					<div class = "address-add-form__item address-edit-form js-expand-elem" id = "EditAddress_{{ address.id }}" data-expand="false">
						<div class = "address-add-form__inner">
							<h2 class = "h4">{{ 'customer.addresses.edit_address' | t }}</h2>
							{%- form 'customer_address', address -%}
								<div class = "field">
									<input type = "text" id = "AddressFirstName_{{ form.id }}" name = "address[first_name]" value = "{{ form.first_name }}" autocomplete = "given-name" placeholder = "{{ 'customer.addresses.first_name' | t }}">
									<label for = "AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressLastName_{{ form.id }}" name = "address[last_name]" value = "{{ form.last_name }}" autocomplete = "family-name" required>
									<label for = "AddressLastName_{{ form.id }}" placeholder="{{ 'customer.addresses.last_name' | t }}"></label>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressCompany_{{ form.id }}" name = "address[company]" value = "{{ form.company }}" autocomplete = "organization" placeholder = "{{ 'customer.addresses.company' | t }}">
									<label for = "AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressAddress1_{{ form.id }}" name = "address[address1]" value = "{{ form.address1 }}" autocomplete = "address-line1" required>
									<label for = "AddressAddress1_{{ form.id }}" placeholder="{{ 'customer.addresses.address1' | t }}"></label>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressAddress2_{{ form.id }}" name = "address[address2]" value = "{{ form.address2 }}" autocomplete = "address-line2" placeholder = "{{ 'customer.addresses.address2' | t }}">
									<label for = "AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressCity_{{ form.id }}" name = "address[city]" value = "{{ form.city }}" autocomplete = "address-level2" required>
									<label for = "AddressCity_{{ form.id }}" placeholder="{{ 'customer.addresses.city' | t }}"></label>
								</div>
								<div class = "field">
									<label for = "AddressCountry_{{ form.id }}">
										{{ 'customer.addresses.country' | t }}
									</label>
									<div class = "select js-select">
										<select
											id = "AddressCountry_{{ form.id }}"
											name = "address[country]"
											data-address-country-select
											data-default = "{{ form.country }}"
											data-form-id = "{{ form.id }}"
											autocomplete = "country"
										>
											{{ all_country_option_tags }}
										</select>
										<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.375 12.1684C7.41443 9.97632 9.52475 8.42672 12 8.25018L12 8.90556C8.82042 9.15588 6.31579 11.9052 6.31579 15.26C6.31579 15.4249 6.32185 15.5884 6.33374 15.7502L5.66626 15.7502C5.67815 15.5884 5.68421 15.4249 5.68421 15.26C5.68421 11.9052 3.17958 9.15588 5.644e-07 8.90556L5.93047e-07 8.25018C2.47525 8.42672 4.58557 9.97632 5.625 12.1684L5.625 -2.7866e-07L6.375 -2.45877e-07L6.375 12.1684Z" fill="#56443E"/>
										</svg>
									</div>
								</div>
								<div class = "field" id = "AddressProvinceContainer_{{ form.id }}" style = "display:none;">
									<label for = "AddressProvince_{{ form.id }}">
										{{ 'customer.addresses.province' | t }}
									</label>
									<div class = "select">
										<select
											id = "AddressProvince_{{ form.id }}"
											name = "address[province]"
											data-default = "{{ form.province }}"
											autocomplete = "address-level1"
										>
										</select>
										<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M6.375 12.1684C7.41443 9.97632 9.52475 8.42672 12 8.25018L12 8.90556C8.82042 9.15588 6.31579 11.9052 6.31579 15.26C6.31579 15.4249 6.32185 15.5884 6.33374 15.7502L5.66626 15.7502C5.67815 15.5884 5.68421 15.4249 5.68421 15.26C5.68421 11.9052 3.17958 9.15588 5.644e-07 8.90556L5.93047e-07 8.25018C2.47525 8.42672 4.58557 9.97632 5.625 12.1684L5.625 -2.7866e-07L6.375 -2.45877e-07L6.375 12.1684Z" fill="#56443E"/>
										</svg>
									</div>
								</div>
								<div class = "field">
									<input type = "text" id = "AddressZip_{{ form.id }}" name = "address[zip]" value = "{{ form.zip }}" autocapitalize = "characters" autocomplete = "postal-code" required>
									<label for = "AddressZip_{{ form.id }}" placeholder="{{ 'customer.addresses.zip' | t }}"></label>
								</div>
								<div class = "field">
									<input type = "tel" id = "AddressPhone_{{ form.id }}" name = "address[phone]" value = "{{ form.phone }}" autocomplete = "tel" placeholder = "{{ 'customer.addresses.phone' | t }}">
									<label for = "AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
								</div>
								<div class = "address-add-default-check">
									{{ form.set_as_default_checkbox }}
									<label for = "address_default_address_{{ form.id }}">
										<b></b>
										{{ 'customer.addresses.set_default' | t }}
									</label>
								</div>
								<div class = "address-add-buttons">
									<button class = "button">{{ 'customer.addresses.update' | t }}</button>
									<button class = "button" type = "reset" data-type="reset" >{{ 'customer.addresses.cancel' | t }}</button>
								</div>
							{%- endform -%}
						</div>
					</div>

					<div class = "address-list__item" data-address>
						<div class = "address-list__inner">
							<div class = "address-list__wrapper">
								{%- if address == customer.default_address -%}
									<h2 class = "h4">{{ 'customer.addresses.default' | t }}</h2>
								{%- endif -%}
								<ul class = "addresses-address__list">
									{%- if address.name != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.name' | t }}</span>
											<span class = "addresses-address__value">{{ address.name }}</span>
										</li>
									{%- endif -%}

									{%- if address.address1 != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.address1' | t }}</span>
											<span class = "addresses-address__value">{{ address.address1 }}</span>
										</li>
									{%- endif -%}

									{%- if address.address2 != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.address2' | t }}</span>
											<span class = "addresses-address__value">{{ address.address2 }}</span>
										</li>
									{%- endif -%}

									{%- if address.city != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.city' | t }}</span>
											<span class = "addresses-address__value">{{ address.city }}</span>
										</li>
									{%- endif -%}

									{%- if address.company != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.company' | t }}</span>
											<span class = "addresses-address__value">{{ address.company }}</span>
										</li>
									{%- endif -%}

									{%- if address.country != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.country' | t }}</span>
											<span class = "addresses-address__value">{{ address.country }}</span>
										</li>
									{%- endif -%}

									{%- if address.phone != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.phone' | t }}</span>
											<span class = "addresses-address__value">{{ address.phone }}</span>
										</li>
									{%- endif -%}

									{%- if address.province != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.province' | t }}</span>
											<span class = "addresses-address__value">{{ address.province }}</span>
										</li>
									{%- endif -%}

									{%- if address.zip != blank -%}
										<li class = "addresses-address__list-item">
											<span class = "addresses-address__name">{{ 'customer.addresses.zip' | t }}</span>
											<span class = "addresses-address__value">{{ address.zip }}</span>
										</li>
									{%- endif -%}
								</ul>
							</div>
							<div class = "address-edit-buttons">
								<button
										class = "button button--arrow button-address-edit"
										type = "button"
										id = "EditFormButton_{{ address.id }}"
										aria-label = "{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
										aria-controls = "EditAddress_{{ address.id }}"
										aria-expanded = "false"
										data-id = "2"
										data-address-id = "{{ address.id }}"
								>
									{{ 'customer.addresses.edit' | t }}
									{% render 'icon-button-arrow' %}
								</button>
								<button
										class = "button button--secondary button-address-delete"
										type = "button"
										aria-label = "{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
										data-target = "{{ address.url }}"
										data-confirm-message = "{{ 'customer.addresses.delete_confirm' | t }}"
								>
									{{ 'customer.addresses.delete' | t }}
								</button>
							</div>
						</div>
					</div>
				{%- endfor -%}
			</div>

			{%- if paginate.pages > 1 -%}
				{%- if paginate.parts.size > 0 -%}
					<nav class = "pagination" role = "navigation" aria-label = "{{ 'general.pagination.label' | t }}">
						<ul role = "list">
							{%- if paginate.previous -%}
								<li>
									<a href = "{{ paginate.previous.url }}" aria-label = "{{ 'general.pagination.previous' | t }}">
										<svg aria-hidden = "true" focusable = "false" viewBox = "0 0 10 6">
											<path fill-rule = "evenodd" clip-rule = "evenodd" d = "M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill = "currentColor">
										</svg>
									</a>
								</li>
							{%- endif -%}

							{%- for part in paginate.parts -%}
								<li>
									{%- if part.is_link -%}
										<a href = "{{ part.url }}" aria-label = "{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
									{%- else -%}
										{%- if part.title == paginate.current_page -%}
											<span aria-current = "page" aria-label = "{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
										{%- else -%}
											<span>{{ part.title }}</span>
										{%- endif -%}
									{%- endif -%}
								</li>
							{%- endfor -%}

							{%- if paginate.next -%}
								<li>
									<a href = "{{ paginate.next.url }}" aria-label = "{{ 'general.pagination.next' | t }}">
										<svg aria-hidden = "true" focusable = "false" viewBox = "0 0 10 6">
											<path fill-rule = "evenodd" clip-rule = "evenodd" d = "M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill = "currentColor">
										</svg>
									</a>
								</li>
							{%- endif -%}
						</ul>
					</nav>
				{%- endif -%}
			{%- endif -%}
		</div>
	</div>
{%- endpaginate -%}

<script>
	window.addEventListener('load', () => {
		typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
	});
</script>

{% schema %}
{
	"name": "t:sections.main-addresses.name"
}
{% endschema %}
