{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="template-search {% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %}">
  <div class="template-search__header">
    <div class="container center">
      <div class="page-header">
        <div class="page-header__inner">
          {%- if search.performed -%}
            <h1 class="main-page-title page-title title--page">{{ 'templates.search.title' | t }}: {{ terms }}</h1>
          {%- else -%}
            <h1 class="h2 main-page-title page-title title--page">
              {{ 'general.search.search' | t }}
            </h1>
          {%- endif -%}
        </div>
      </div>
      <div class="template-search__search">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          <div class="search-wrapper">
        {% endif %}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search">
          {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
            <p class="search__form-text" role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
          {%- endif -%}
          <div class="search__form-inner">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.search' | t }}"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
              <input name="options[prefix]" type="hidden" value="last">

              <button
                class="search__button button button--arrow button--primary-size button--secondary"
                aria-label="{{ 'general.search.search' | t }}"
              >
                <span>
                  {{ 'general.search.search' | t }}
                </span>
                {% render 'icon-button-arrow' %}
              </button>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>
                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </div>
          </div>
        </form>
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          </div>
        {% endif %}
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- if search.performed -%}
    {%- if search.filters != empty -%}
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <div class="facets container">
          {% render 'facets',
            results: search,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            collapse_on_larger_devices: section.settings.collapse_on_larger_devices
          %}
        </div>
      {%- endif -%}
    {%- endif -%}
    <div id="ProductGridContainer">
      {% paginate search.results by 24 %}
        {%- if search.results.size == 0 and search.filters != empty -%}
          <div
            class="template-search__results collection-product container"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>
            <div class="title-wrapper center title-wrapper-empty">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: search_url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="template-search__results collection-product container"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

            {% liquid
              assign search_products = search.results | where: 'object_type', 'product'
              assign search_products_size = search_products | size
              assign search_articles = search.results | where: 'object_type', 'article'
              assign search_articles_size = search_articles | size
              assign search_pages = search.results | where: 'object_type', 'page'
              assign search_pages_size = search_pages | size
            %}

            {% if search_products_size != 0 %}
              <div class="search-results__top">
                <h3 class="h4">
                  {{ 'templates.search.item_count.other' | t: count: '' }}
                </h3>
                <span class="search-results__count">
                  {{ 'templates.search.item_count' | t: count: search_products_size }}
                </span>
              </div>
              <ul
                class="collection-product-list collection-results collection-product-list--{{ section.settings.columns_mobile }}-mobile"
                role="list"
              >
                {%- for item in search_products -%}
                  <li class="collection-product-card template-search__item {% if settings.quickview_hover %}quickview--hover{% endif %}">
                    {%- capture product_settings -%}
												{%- if section.settings.show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                    {% render 'product-card',
                      product_card_product: item,
                      media_size: section.settings.image_ratio,
                      media_fit: section.settings.image_fit,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_desc: section.settings.show_desc,
                      show_sku: section.settings.show_sku
                    %}
                  </li>
                {%- endfor -%}
              </ul>
            {% endif %}

            {% if search_articles_size != 0 %}
              <div class="search-results__top">
                <h3 class="h4">
                  {{ 'templates.search.article_count.other' | t: count: '' }}
                </h3>
                <span class="search-results__count">
                  {{ 'templates.search.article_count' | t: count: search_articles_size }}
                </span>
              </div>
              <ul
                class="collection-product-list collection-results collection-product-list--{{ section.settings.columns_mobile }}-mobile"
                role="list"
              >
                {%- for item in search_articles -%}
                  {%- case item.object_type -%}
                    {%- when 'article' -%}
                      <li class="collection-product-card template-search__item">
                        {% render 'article-card',
                          article: item,
                          show_image: true,
                          show_tags: section.settings.article_show_tags,
                          show_date: section.settings.article_show_date,
                          show_author: section.settings.article_show_author,
                          show_excerpt: section.settings.article_show_desc
                        %}
                      </li>
                  {%- endcase -%}
                {%- endfor -%}
              </ul>
            {% endif %}

            {% if search_pages_size != 0 %}
              <div class="search-results__top">
                <h3 class="h4">
                  {{ 'templates.search.page_count.other' | t: count: '' }}
                </h3>
                <span class="search-results__count">
                  {{ 'templates.search.page_count' | t: count: search_pages_size }}
                </span>
              </div>
              <ul
                class="collection-product-list collection-results collection-product-list--{{ section.settings.columns_mobile }}-mobile"
                role="list"
              >
                {%- for item in search_pages -%}
                  {%- case item.object_type -%}
                    {%- when 'page' -%}
                      <li class="collection-product-card template-search__item template-search__page">
                        <a href="{{ item.url }}" class="card-wrapper">
                          <div class="card-page">
                            <div class="card-page__content">
                              <h3 class="card__text h4">
                                {{ item.title | truncate: 50 | escape }}
                              </h3>
                            </div>
                          </div>
                        </a>
                      </li>
                  {%- endcase -%}
                {%- endfor -%}
              </ul>
            {% endif %}
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate %}
            {%- endif -%}
          </div>
        {%- endif -%}
      {% endpaginate %}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
		{
      "type": "select",
      "id": "image_fit",
			"label": "t:sections.featured-products.settings.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.featured-products.settings.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.featured-products.settings.image_fit.options__2.label"
        }
      ],
      "default": "contain"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
		{
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.featured-products.settings.show_desc.label",
      "info": "t:sections.featured-products.settings.show_desc.info"
    },
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.featured-products.settings.show_sku.label"
		},
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
		{
      "type": "checkbox",
      "id": "article_show_tags",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
		{
      "type": "checkbox",
      "id": "article_show_desc",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_desc.label"
    },
		{
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
		{
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
		{
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    }
  ]
}
{% endschema %}
