{{ 'section-ordered-list.css' | asset_url | stylesheet_tag }}
<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ordered-list.js' | asset_url }}" defer="defer"></script>

<div class="ordered-list-section ordered {% if section.settings.border_top -%}section-border-top{%- endif -%}">
	<div class="container {% if section.settings.border_top -%}section-border-top__inner{%- endif -%}">
		{%- if section.settings.heading == blank and section.settings.description == blank -%}
		{%- else -%}
			<div class="ordered__inner">
				{%- if section.settings.heading != blank -%}
					<h2 class="ordered__title title title--section js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}">{{ section.settings.heading }}</h2>
				{%- endif -%}
				{%- if section.settings.description != blank -%}
					<p class="ordered__text">{{ section.settings.description }}</p>
				{%- endif -%}
			</div>
		{%- endif -%}
		{%- if section.blocks != blank -%}
			<ol class="ordered__list">
				{%- for block in section.blocks -%}
					<li class="ordered__list-item" {{ block.shopify_attributes }}>
						<div class="ordered__list-img">
							<div class="ordered__list-number" style="font-size: {{ section.settings.font_size }}px">{{ forloop.index }}</div>
							{%- if block.settings.image != blank -%}
								{%- assign image_size = block.settings.image_width | append: 'x' -%}
								<img srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
										 src="{{ block.settings.image | img_url: image_size }}"
										 alt="{{ block.settings.image.alt | escape }}"
										 width="{{ block.settings.image_width }}"
										 height="{{ block.settings.image.height }}"
										 loading="lazy"
										 class="js-parallax"
										 data-parallax-property="translateY" 
										 data-parallax-steps="20, 80" 
										 data-parallax-property-value="-50"
								>
							{%- else -%}
							<div class="ordered__placeholder-wrapper js-parallax" 
								data-parallax-property="translateY" 
								data-parallax-steps="20, 80" 
								data-parallax-property-value="-50">
								{{ 'image' | placeholder_svg_tag: 'ordered__placeholder' }}
							</div>
							{%- endif -%}
						</div>
						<p class="ordered__list-text">
							{{ block.settings.text | truncate: 300, "" }}
						</p>
					</li>
				{%- endfor -%}
			</ol>
		{%- endif -%}
	</div>
</div>

{% schema %}
{
	"name": "t:sections.ordered-list-section.name",
	"tag": "section",
	"class": "spaced-section ordered-list-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"max_blocks": 6,
	"settings": [
		{
			"type": "richtext",
			"id": "heading",
			"default": "<p>Heading for your ordered list section</p>",
			"label": "t:sections.ordered-list-section.settings.heading.label"
		},
		{
			"type": "checkbox",
			"id": "heading_animation",
			"default": true,
			"label": "t:sections.ordered-list-section.settings.heading_animation.label"
		},
		{
			"type": "textarea",
			"id": "description",
			"default": "Description for your ordered list section",
			"label": "t:sections.ordered-list-section.settings.description.label"
		},
		{
			"type": "range",
			"id": "font_size",
			"min": 300,
			"max": 420,
			"step": 5,
			"default": 400,
			"unit": "t:sections.ordered-list-section.settings.font_size.unit",
			"label": "t:sections.ordered-list-section.settings.font_size.label"
		},
		{
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.newsletter.settings.border_top.label"
		}
	],
	"blocks": [
		{
			"type": "column",
			"name": "t:sections.ordered-list-section.blocks.column.name",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.ordered-list-section.blocks.column.settings.image.label"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 300,
					"max": 420,
					"step": 5,
					"default": 305,
					"unit": "t:sections.ordered-list-section.blocks.column.settings.image_width.unit",
					"label": "t:sections.ordered-list-section.blocks.column.settings.image_width.label"
				},
				{
					"type": "textarea",
					"id": "text",
					"default": "For example, a description for your collection, product or other",
					"label": "t:sections.ordered-list-section.blocks.column.settings.text.label",
					"info": "t:sections.ordered-list-section.blocks.column.settings.text.info"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.ordered-list-section.presets.name",
			"blocks": [
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				},
				{
					"type": "column"
				}
			]
		}
	]
}
{% endschema %}