{{ 'section-popular-products.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="popular-products">
	<div class="container">
		<div class="popular-products__top popular-products__top{%- if section.settings.border_top -%}--border{% endif %}">
			<h2 class="h3 popular-products__heading">{{ section.settings.heading }}</h2>
			<a {% if section.settings.button_link.url != blank %} href="{{ section.settings.button_link.url }}" {% endif %} class="popular-products__link button button--arrow button--simple link-hover-line" {% if section.settings.button_link.url == blank %}aria-disabled="true"{% endif %}>
				<span>{{ section.settings.link }}</span>
				{% render 'icon-button-arrow' %}
			</a>
		</div>
		{%- liquid
			assign columns = section.blocks.size
			if columns > 3
				assign columns = 3
			endif
		-%}

		<ul class="popular-products__wrapper collection-product-list--{{ section.settings.columns_mobile }}-mobile list-unstyled">
			{%- for product in section.settings.collection.products limit: section.settings.products_limit -%}
				<li class="collection-product-card collection-popular-card featured-products__item featured-products__item--card quickview{%- if settings.quickview_hover -%}--hover{% endif %}">
					{% render 'product-card',
						product_card_product: product,
						media_size: section.settings.image_ratio,
						media_fit: section.settings.image_fit,
						show_secondary_image: section.settings.show_secondary_image,
						show_vendor: section.settings.show_vendor,
						show_desc: section.settings.show_desc,
						show_sku: section.settings.show_sku %}
				</li>
			{%- else -%}
				{%- for i in (1..3) -%}
					<li class="collection-product-card collection-popular-card featured-products__item">
						{% render 'product-card-placeholder' %}
					</li>
				{%- endfor -%}
			{%- endfor -%}
		</ul>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.popular-products.name",
	"tag": "section",
	"class": "popular-products spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "richtext",
			"id": "heading",
			"default": "<p>You May be Interested</p>",
			"label": "t:sections.popular-products.settings.heading.label"
		},
		{
			"type": "text",
			"id": "link",
			"default": "Explore",
			"label": "t:sections.popular-products.settings.link.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.product-recommendations.settings.button_link.label"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "t:sections.popular-products.settings.collection.label"
		},
		{
			"type": "range",
			"id": "products_limit",
			"min": 3,
			"max": 9,
			"step": 3,
			"default": 3,
			"label": "t:sections.popular-products.settings.products_limit.label"
		},
		{
			"type": "checkbox",
			"id": "border_top",
			"default": false,
			"label": "t:sections.product-recommendations.settings.border_top.label"
		},
		{
			"type": "header",
			"content": "t:sections.product-recommendations.settings.header__2.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.product-recommendations.settings.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.product-recommendations.settings.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.product-recommendations.settings.image_ratio.options__3.label"
				}
			],
			"default": "square",
			"label": "t:sections.product-recommendations.settings.image_ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.featured-products.settings.image_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.featured-products.settings.image_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.featured-products.settings.image_fit.options__2.label"
				}
			],
			"default": "contain"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": false,
			"label": "t:sections.product-recommendations.settings.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.product-recommendations.settings.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.product-recommendations.settings.show_desc.label"
		},
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.featured-products.settings.show_sku.label"
		},
		{
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    }
	],
	"presets": [
		{
			"name": "t:sections.popular-products.presets.name"
		}
	]
}
{% endschema %}