{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<script src="{{ 'parallax.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'video.js' | asset_url }}" defer="defer"></script>

<style>
  .modal-iframe-wrapper .fancybox-inner {
  	aspect-ratio: {{ section.settings.aspect_ratio }};
  }
</style>

<div class="video-section video-section-{%- if section.blocks != blank -%}images{%- endif -%}">
  <noscript>
    <deferred-media class="video-section__media deferred-media color-inverse">
      <div class="video-section__poster media deferred-media__poster media--landscape">
        {%- if section.settings.cover_image != blank -%}
          <img
            srcset="
              {%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w
            "
            src="{{ section.settings.cover_image | img_url: '1920x' }}"
            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
            loading="lazy"
            width="{{ section.settings.cover_image.width }}"
            height="{{ section.settings.cover_image.height }}"
          >
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </div>
      <div class="video-section__content">
        <div class="container">
          <div class="video-section__wrapper">
            <a
              {%- if section.settings.video == null and section.settings.video_url != null -%}
                {% if section.settings.video_url.type == 'youtube' %}
                  href="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1"
                {% else %}
                  href="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?&autoplay=true"
                {% endif %}
              {% else %}
                href="{{ section.settings.video.sources[1].url }}"
              {% endif %}
              class="video-section__play modal-iframe"
            >
              {% render 'icon-play' %}
            </a>
            {%- if section.settings.heading -%}
              <h2 class="title title--section js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}">
                {{ section.settings.heading }}
              </h2>
            {%- endif -%}
            {%- if section.settings.description -%}
              <p class="video-section__text">
                {{ section.settings.description }}
              </p>
            {%- endif -%}
            {%- if section.settings.button_label != blank -%}
              <a
                href="{{ section.settings.button_link }}"
                class="video-section__button button button--arrow button--primary-size button--secondary"
              >
                <span>{{ section.settings.button_label | escape }}</span> {% render 'icon-button-arrow' %}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
      <ul class="video-section__images images container">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'top' -%}
              <li class="images__top" {{ block.shopify_attributes }}>
                {%- assign image_size_1 = block.settings.image_width_1 | append: 'x' -%}
                {%- assign image_size_2 = block.settings.image_width_2 | append: 'x' -%}
                {%- if block.settings.image_1 != blank -%}
                  <img
                    srcset="{{ block.settings.image_1 | img_url: image_size_1 }} 1x, {{ block.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
                    src="{{ block.settings.image_1 | img_url: image_size_1 }}"
                    alt="{{ block.settings.image_1.alt | escape }}"
                    width="{{ block.settings.image_width_1 }}"
                    height="{{ block.settings.image_1.height }}"
                    loading="lazy"
                    class="js-parallax"
                    data-parallax-property="translateY"
                    data-parallax-property-value="-50"
                  >
                {%- endif -%}
                {%- if block.settings.image_2 != blank -%}
                  <img
                    srcset="{{ block.settings.image_2 | img_url: image_size_2 }} 1x, {{ block.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
                    src="{{ block.settings.image_2 | img_url: image_size_2 }}"
                    alt="{{ block.settings.image_2.alt | escape }}"
                    width="{{ block.settings.image_width_2 }}"
                    height="{{ block.settings.image_2.height }}"
                    loading="lazy"
                    class="js-parallax"
                    data-parallax-property="translateY"
                    data-parallax-property-value="-75"
                  >
                {%- endif -%}
              </li>
            {%- when 'bottom' -%}
              <li class="images__bottom" {{ block.shopify_attributes }}>
                {%- assign image_size_1 = block.settings.image_width_1 | append: 'x' -%}
                {%- assign image_size_2 = block.settings.image_width_2 | append: 'x' -%}
                {%- if block.settings.image_1 != blank -%}
                  <img
                    srcset="{{ block.settings.image_1 | img_url: image_size_1 }} 1x, {{ block.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
                    src="{{ block.settings.image_1 | img_url: image_size_1 }}"
                    alt="{{ block.settings.image_1.alt | escape }}"
                    width="{{ block.settings.image_width_1 }}"
                    height="{{ block.settings.image_1.height }}"
                    loading="lazy"
                    class="js-parallax"
                    data-parallax-property="translateY"
                    data-parallax-property-value="-75"
                  >
                {%- endif -%}
                {%- if block.settings.image_2 != blank -%}
                  <img
                    srcset="{{ block.settings.image_2 | img_url: image_size_2 }} 1x, {{ block.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
                    src="{{ block.settings.image_2 | img_url: image_size_2 }}"
                    alt="{{ block.settings.image_2.alt | escape }}"
                    width="{{ block.settings.image_width_2 }}"
                    height="{{ block.settings.image_2.height }}"
                    loading="lazy"
                    class="js-parallax"
                    data-parallax-property="translateY"
                    data-parallax-property-value="-50"
                  >
                {%- endif -%}
              </li>
          {%- endcase -%}
        {%- endfor -%}
      </ul>
      <template>
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=true"
            class="js-vimeo"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      </template>
    </deferred-media>
  </noscript>
  <deferred-media class="video-section__media deferred-media color-inverse no-js-hidden">
    <div class="video-section__poster media deferred-media__poster media--landscape">
      {%- if section.settings.cover_image != blank -%}
        <img
          srcset="
            {%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w
          "
          src="{{ section.settings.cover_image | img_url: '1920x' }}"
          sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
          alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
          loading="lazy"
          width="{{ section.settings.cover_image.width }}"
          height="{{ section.settings.cover_image.height }}"
          style="object-position: {{ section.settings.cover_image.presentation.focal_point }}"
        >
      {%- else -%}
        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
    </div>
    <div class="video-section__content">
      <div class="container">
        <div class="video-section__wrapper">
          <a
            {%- if section.settings.video == null and section.settings.video_url != null -%}
              {% if section.settings.video_url.type == 'youtube' %}
                href="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1"
              {% else %}
                href="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?&autoplay=true"
              {% endif %}
            {% else %}
              href="{{ section.settings.video.sources[1].url }}"
            {% endif %}
            class="video-section__play modal-iframe"
          >
            {% render 'icon-play' %}
          </a>
          {%- if section.settings.heading -%}
            <h2 class="title title--section js{%- if section.settings.heading_animation -%}-split-text {%- endif -%}">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          {%- if section.settings.description -%}
            <p class="video-section__text">
              {{ section.settings.description }}
            </p>
          {%- endif -%}
          {%- if section.settings.button_label != blank -%}
            <a
              href="{{ section.settings.button_link }}"
              class="video-section__button button button--arrow button--primary-size button--secondary"
            >
              <span>{{ section.settings.button_label | escape }}</span> {% render 'icon-button-arrow' %}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
    <ul class="video-section__images images container">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'top' -%}
            <li class="images__top" {{ block.shopify_attributes }}>
              {%- assign image_size_1 = block.settings.image_width_1 | append: 'x' -%}
              {%- assign image_size_2 = block.settings.image_width_2 | append: 'x' -%}
              {%- if block.settings.image_1 != blank -%}
                <img
                  srcset="{{ block.settings.image_1 | img_url: image_size_1 }} 1x, {{ block.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
                  src="{{ block.settings.image_1 | img_url: image_size_1 }}"
                  alt="{{ block.settings.image_1.alt | escape }}"
                  width="{{ block.settings.image_width_1 }}"
                  height="{{ block.settings.image_1.height }}"
                  loading="lazy"
                  class="js-parallax"
                  data-parallax-property="translateY"
                  data-parallax-property-value="-50"
                >
              {%- endif -%}
              {%- if block.settings.image_2 != blank -%}
                <img
                  srcset="{{ block.settings.image_2 | img_url: image_size_2 }} 1x, {{ block.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
                  src="{{ block.settings.image_2 | img_url: image_size_2 }}"
                  alt="{{ block.settings.image_2.alt | escape }}"
                  width="{{ block.settings.image_width_2 }}"
                  height="{{ block.settings.image_2.height }}"
                  loading="lazy"
                  class="js-parallax"
                  data-parallax-property="translateY"
                  data-parallax-property-value="-75"
                >
              {%- endif -%}
            </li>
          {%- when 'bottom' -%}
            <li class="images__bottom" {{ block.shopify_attributes }}>
              {%- assign image_size_1 = block.settings.image_width_1 | append: 'x' -%}
              {%- assign image_size_2 = block.settings.image_width_2 | append: 'x' -%}
              {%- if block.settings.image_1 != blank -%}
                <img
                  srcset="{{ block.settings.image_1 | img_url: image_size_1 }} 1x, {{ block.settings.image_1 | img_url: image_size_1, scale: 2 }} 2x"
                  src="{{ block.settings.image_1 | img_url: image_size_1 }}"
                  alt="{{ block.settings.image_1.alt | escape }}"
                  width="{{ block.settings.image_width_1 }}"
                  height="{{ block.settings.image_1.height }}"
                  loading="lazy"
                  class="js-parallax"
                  data-parallax-property="translateY"
                  data-parallax-property-value="-75"
                >
              {%- endif -%}
              {%- if block.settings.image_2 != blank -%}
                <img
                  srcset="{{ block.settings.image_2 | img_url: image_size_2 }} 1x, {{ block.settings.image_2 | img_url: image_size_2, scale: 2 }} 2x"
                  src="{{ block.settings.image_2 | img_url: image_size_2 }}"
                  alt="{{ block.settings.image_2.alt | escape }}"
                  width="{{ block.settings.image_width_2 }}"
                  height="{{ block.settings.image_2.height }}"
                  loading="lazy"
                  class="js-parallax"
                  data-parallax-property="translateY"
                  data-parallax-property-value="-50"
                >
              {%- endif -%}
            </li>
        {%- endcase -%}
      {%- endfor -%}
    </ul>
    <template>
      {%- if section.settings.video == null and section.settings.video_url != null -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=true"
            class="js-vimeo"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          section.settings.video
          | video_tag: image_size: '1100x', autoplay: false, loop: false, controls: true, muted: false
        }}
      {%- endif -%}
    </template>
  </deferred-media>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "spaced-section shopify-section-video",
  "enabled_on": {
    "templates": ["*"]
  },
  "max_blocks": 2,
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Heading for your video</p>",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "heading_animation",
      "default": true,
      "label": "t:sections.video.settings.heading_animation.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "default": "Describe the video to make it accessible for customers using screen readers.",
      "label": "t:sections.video.settings.description.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.video.settings.button_link.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.video.settings.button_label.label"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label",
      "info": "t:sections.video.settings.cover_image.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.video.settings.height.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.video.settings.height.options__2.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.video.settings.height.options__3.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.video.settings.height.options__4.label"
        },
        {
          "value": "21/9",
          "label": "t:sections.video.settings.height.options__5.label"
        }
      ],
      "default": "16/9",
      "label": "t:sections.video.settings.height.label"
    }
  ],
  "blocks": [
    {
      "type": "top",
      "name": "t:sections.video.blocks.top.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.video.blocks.top.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width_1",
          "min": 50,
          "max": 130,
          "step": 10,
          "default": 130,
          "unit": "t:sections.video.blocks.top.settings.image_width.unit",
          "label": "t:sections.video.blocks.top.settings.image_width.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.video.blocks.top.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width_2",
          "min": 50,
          "max": 130,
          "step": 10,
          "default": 130,
          "unit": "t:sections.video.blocks.top.settings.image_width.unit",
          "label": "t:sections.video.blocks.top.settings.image_width.label"
        }
      ]
    },
    {
      "type": "bottom",
      "name": "t:sections.video.blocks.bottom.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.video.blocks.bottom.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width_1",
          "min": 50,
          "max": 130,
          "step": 10,
          "default": 130,
          "unit": "t:sections.video.blocks.bottom.settings.image_width.unit",
          "label": "t:sections.video.blocks.bottom.settings.image_width.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.video.blocks.bottom.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width_2",
          "min": 50,
          "max": 130,
          "step": 10,
          "default": 130,
          "unit": "t:sections.video.blocks.bottom.settings.image_width.unit",
          "label": "t:sections.video.blocks.bottom.settings.image_width.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name",
      "blocks": [
        {
          "type": "top"
        },
        {
          "type": "bottom"
        }
      ]
    }
  ]
}
{% endschema %}
